<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/Content/css/styles.css">
		<title>Scrabble Score</title>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="jumbotron">
					<h1>Check your scrabble word here</h1>
				</div>
				<div class="col-md-12">
					<form  action="index.cshtml" method="post">
						<div class="form-group">
							<label for="word">Enter a word to find its points</label>
							<input type="text" name="word" placeholder="enter a word"class="form-control">
						</div>
						<button type="submit" name="button">Check word</button>
					</form>
					<div >
						@if(Model["HasWord"]==1)
						{
							<p>Your score is: @Model["ScrabbleScore"]</p>
						}
					</div>

				</div>
			</div>
		</div>
	</body>
</html>
